.planetButton {
    background-color: #06C755;
}

.planetButton:hover {
    background-color: #05A94D;
}

.actvieSpeaker {
    outline: 2px solid lightgreen;
}

.inactiveSpeaker {
    outline: 2px solid transparent;

}

.videoPausedOverlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #242424;
}